# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
*.key
config_local.py

# Large data and logs
logs/
*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/